.img-link{
    width: 60px;
    height: 60px;
    background-color: white;
}

body{
    height: 400px;
    width: 100%;
    background-image: url("pictures/background.jpg");
    background-size: cover;
    color: white;
}

#container ul {

    text-align: right;
    margin-right: 30px;
}

#container li {
    display: inline-block;
    margin-left:30px;

}


.meuNome {
    color: white;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 20px;
}

.subtitulo {
    color: white;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 20px;
    transform: translateX(50%,-50%);
}

#foto {
    width: 60px;
    height: 60px;
}
