.img-link{
    width: 60px;
    height: 60px;
}

body{
    height: 400px;
    width: 100%;
    background-image: url("./home/christopher/Área de Trabalho/portfolio/SrVieira96.github.io/background.png");
}